/* Algemene stijl voor de pagina */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
    padding: 2px;
}

/* Titel stijl */
h1 {
    font-size: 4vw; /* Titelgrootte */
    margin: 0;
    color: #555;
}

/* Groot getal stijl */
h2 {
    font-size: 2vw; /* Groot getal */
    margin: 0;
    color: #333;
}

/* Optionele extra styling voor toekomstige uitbreidingen */
footer {
    margin-top: 20px;
    font-size: 1.5vw;
    color: #777;
}
/* Titel stijl */
h1 {
    font-size: 4vw; /* Titelgrootte */
    margin: 0;
    color: #555;
}

/* Groot getal stijl */
h2 {
    font-size: 10vw; /* Groot getal */
    margin: 0;
    color: #333;
}

/* Optionele extra styling voor toekomstige uitbreidingen */
footer {
    margin-top: 20px;
    font-size: 1.5vw;
    color: #777;
}
